<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @profile.intro %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @profile.icon %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
