<div class="container">
  <div class="mx-auto" style="width: 300px;">
    <h1 class="h3 mb-3 font-weight-bold text-center">納豆巻きにログイン</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.password_field :password, autocomplete: "current-password" %>

      <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
      <% end %>
      
      <%= f.submit "ログイン", class: "btn btn-info btn-lg btn-block rounded-pill" %>
    <% end %>

    <div class="row mt-4">
      <div class="col text-center">
        <%= link_to '新規登録はこっち', edit_user_registration_path, class: "btn btn-outline-info btn-lg rounded-pill" %>
      </div>
    </div>

  </div>
</div>