<%= form_with(model: novel, local: true) do |form| %>
  <% if novel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(novel.errors.count, "error") %> prohibited this novel from being saved:</h2>

      <ul>
        <% novel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :novel_id %>
    <%= form.number_field :novel_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :created %>
    <%= form.datetime_select :created %>
  </div>

  <div class="field">
    <%= form.label :updated %>
    <%= form.datetime_select :updated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
