
<div class="card mx-2 mb-2">
    <div class="card-body">
        <h5 class="card-title"><%= link_to "#{story.level + 1}話 #{story.subtitle}", story_path(story), class: "mb-2 text-info" %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= story.created_at.strftime('%Y/%m/%d')%>&nbsp;&nbsp;<%= story.penname %></p>
        <p><%= story.content.truncate(100) %></p>
    </div>
    <% story.children.each do |child|%>
        <%= render partial: 'story_card', locals: { story: child } %>
    <% end %>
</div>