<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id %>
  </div>

  <div class="field">
    <%= form.label :novel_id %>
    <%= form.number_field :novel_id %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :created %>
    <%= form.datetime_select :created %>
  </div>

  <div class="field">
    <%= form.label :updated %>
    <%= form.datetime_select :updated %>
  </div>

  <div class="field">
    <%= form.label :parent %>
    <%= form.number_field :parent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
