<h1>第1話を書く</h1>
<% if @title %>
  <%= form_tag("preview", method: :post) do %>
    <h3>小説タイトル</h3>
    <%= text_field_tag(:title, @title) %>
    <br>
    <h3>サブタイトル</h3>
    <%= text_field_tag(:subtitle, @tag) %>
    <br>
    <h3>第1話本文</h3>
    <%= text_area_tag(:content, @content, size: "80x16") %>
    <br>
    <h3>ジャンル</h3>
    <p>
      <% i = 1%>
      <% while i <= @genres.size %>
        <% label_n = 'genre_' + i.to_s %>
        <% if @genre == i.to_s %>
          <%= radio_button_tag(:genre, i, {:checked => true}) %>
        <% else %>
          <%= radio_button_tag(:genre, i) %>
        <% end %>
        <%= label_tag(label_n, @genres.find(i).name) %>
        <% i = i + 1 %>
      <% end %>
    </p>
    <br>
    <h3>タグ</h3>
    <%= text_field_tag(:tag, @tag, size: "80") %>
    <br>
    <h3>あとがき・コメント・プロットとか</h3>
    <%= text_area_tag(:comment, @comment, size: "80x4") %>
    <br>
    <h3>小説全体について（設定構想） </h3>
    <%= text_area_tag(:overall, @overall, size: "80x4") %>
    <br>
    <input type="button" value="キャンセル" onClick="back()">
    <input type="button" name="commit" value="プレビュー" onClick="submit()">
  <% end %>
<% else %>
  <%= form_tag("preview", method: :post) do %>
    <h3>小説タイトル</h3>
    <%= text_field_tag(:title) %>
    <br>
    <h3>サブタイトル</h3>
    <%= text_field_tag(:subtitle) %>
    <br>
    <h3>第1話本文</h3>
    <%= text_area_tag(:content, "", size: "80x16") %>
    <br>
    <h3>ジャンル</h3>
    <p>
      <% i = 1%>
      <% while i <= @genres.size %>
        <% label_n = 'genre_' + i.to_s %>
        <%= radio_button_tag(:genre, i) %>
        <%= label_tag(label_n, @genres.find(i).name) %>
        <% i = i + 1 %>
      <% end %>
    </p>
    <br>
    <h3>タグ</h3>
    <%= text_field_tag(:tag, "", size: "80") %>
    <br>
    <h3>あとがき・コメント・プロットとか</h3>
    <%= text_area_tag(:comment, "", size: "80x4") %>
    <br>
    <h3>小説全体について（設定構想） </h3>
    <%= text_area_tag(:overall, "", size: "80x4") %>
    <br>
    <input type="button" value="キャンセル" onClick="back()">
    <input type="button" name="commit" value="プレビュー" onClick="submit()">
  <% end %>
<% end %>
<script type="text/javascript">
// キャンセルをクリックしたときに実行されるJavascript
function back(){
  if(window.confirm('キャンセルすると保存されないけれど、本当にキャンセルして大丈夫？')){
    location.href = "../mypage"; // 「OK」時⇒マイページに遷移
  }
}
// tagでEnterしたときに実行されるJavascript
document.getElementById("tag").onkeypress = (e) => { // tagに入力されたキー
  const key = e.keyCode || e.charCode || 0; // 13はEnterキーのキーコード
  if (key == 13) {
    e.preventDefault(); // アクションを行わない
  }
}
</script>
