<%= javascript_pack_tag 'count' %>

<div class="container">
  <div class="row border-bottom border-info mb-3">
    <div class="col">
      <h4 class="text-muted">続きから書く</h4>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-outline-info mb-2" data-toggle="modal" data-target="#staticBackdrop">
        小説の書き方
      </button>
    </div>
  </div>

  <h2 class="text-center text-muted"><%= @story.novel.title %></h2>
  <h4 class="text-center text-muted"><%= @story.parent.level + 1 %>話 <%= @story.parent.subtitle %>の続き</h4>

  <div class="text mx-auto">
    <%= bootstrap_form_with model: @story, local: true, url: next_preview_story_path(@story.parent.id), class: 'form' do |f| %>
      <%= f.text_field :penname %>

      <%= f.text_field :subtitle %>
      <%= f.text_area :content, id: "input-text"  %>
      <div id="counter" class='text-right'>0文字</div>
      <%= f.text_area :comment %>

      <div class="text-right">
          <%= link_to 'キャンセル', story_path, data: { confirm: "書いた内容は破棄されますが、よろしいですか？" }, class: "btn btn-secondary btn-lg rounded-pill pull-right" %>
          <%= f.button "プレビュー", type: 'button', onclick: 'submit();', class: "btn btn-info btn-lg rounded-pill pull-right"%>
      </div>
    <% end %>
  </div>

  <%= render 'stories/modal_next' %>
</div>