<h1>第1話を書く</h1>
<%= @title %><br>
<%= @genre.name %><br>
<%= @overall %>
<hr>
<%= @subtitle %>
<%= @tag %>
<hr>
<%= @content %>
<hr>
<%= @comment %>
<%= form_tag("new", method: :post) do %>
    <%= hidden_field_tag :title, @title %>
    <%= hidden_field_tag :genre, @genre.id %>
    <%= hidden_field_tag :overall, @overall %>
    <%= hidden_field_tag :subtitle, @subtitle %>
    <%= hidden_field_tag :tag, @tag %>
    <%= hidden_field_tag :content, @content %>
    <%= hidden_field_tag :comment, @comment %>
    <div class="actions">
        <%= submit_tag '編集画面に戻る', name: 'back' %>
    </div>
    <div class="actions">
        <%= submit_tag '投稿する' %>
    </div>
<% end %>
