<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>プレビュー</title>
  </head>
  <body>
    <h1>第1話を書く</h1>
    <%= @title %><br>
    <%= @genre %><br>
    <%= @overall %>
    <hr>
    <%= @subtitle %>
    <%= @tag %>
    <hr>
    <%= @content %>
    <hr>
    <%= @comment %>
    <%= form_tag("new", method: :post) do %>
        <%= hidden_field_tag :title, @title %>
        <%= hidden_field_tag :genre, @genre %>
        <%= hidden_field_tag :overall, @overall %>
        <%= hidden_field_tag :subtitle, @subtitle %>
        <%= hidden_field_tag :tag, @tag %>
        <%= hidden_field_tag :content, @content %>
        <%= hidden_field_tag :comment, @comment %>
        <div class="actions">
            <%= submit_tag '編集画面に戻る', name: 'back' %>
        </div>
        <div class="actions">
            <%= submit_tag '投稿する' %>
        </div>
    <% end %>
  </body>
</html>
