<div class="container">
    <% if @story.parent_story_id == "" %>
        <h1>第1話を書く_プレビュー</h1>
    <% else %>
        <h1>続きを書く_プレビュー</h1>
    <% end %>

    <%= @story.penname %>
    <h1 class="text-center"><%= @story.novel.title %></h1>
    <%= @story.subtitle %>
    <%= @story.content %>
    <%= @story.novel.genre %>
    <%= @story.novel.summary %>
    <%= @story.comment %>

  <%= form_for @story, local: true do |f| %>
    <%= f.hidden_field :penname, :value => @story.penname %>

    <% if @story.parent_story_id == nil %>
        <%= f.fields_for :novel do |novel_f| %>
        <%= novel_f.hidden_field :title, :value => @story.novel.title %>
        <% end %>
    <% end %>

    <%= f.hidden_field :subtitle, :value => @story.subtitle %>
    <%= f.hidden_field :penname, :value => @story.penname %>
    <%= f.hidden_field :content, :value => @story.content %>

    <% if @story.parent_story_id == nil %>
        <%= f.fields_for :novel do |novel_f| %>
        <%= novel_f.hidden_field :genre, :value => @story.novel.genre %>
        <%= novel_f.hidden_field :summary, :value => @story.novel.summary %>
        <% end %>
    <% end %>

    <%= f.hidden_field :comment, :value => @story.comment %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% if @story.parent_story_id != nil %>
        <%= f.hidden_field :parent_story_id, :value => @story.parent_story_id %>
        <%= f.hidden_field :novel_id, :value => @story.novel_id %>
    <% end %>

    <div class="actions">
      <%= f.submit '戻る', name: 'back' %>
    </div>
    <div class="actions">
      <%= f.submit '登録する'%>
    </div>

  <% end %>
</div>
