<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-muted">第1話を書く</h4>
    </div>
  </div>
  <p>ジャンル : <%= @story.novel.genre %>&nbsp;&nbsp;&nbsp;&nbsp;完結までの話数 : <%= @story.novel.series %>話</p>

  <h2 class="text-center"><%= @story.novel.title %></h2>
  <h4 class="text-center"><%= @story.subtitle %></h4>
  <h5 class="text-right"><%= @story.penname %></h5>
  
  <div class="row border-top border-info mt-3 mb-3">
    <div class="text mx-auto">
      <p><%= simple_format(@story.content) %></p>
    </div>
  </div>

  <div class="text mx-auto">
    <div class="row border-top border-info">
      <div class="text mx-auto">あとがき</div>
      <div class="text mx-auto"><%= simple_format(@story.comment) %></div>
    </div>
    <div class="row border-top border-info">
      <div class="text mx-auto">小説全体の設定構想</div>
      <div class="text mx-auto"><%= simple_format(@story.novel.summary) %></div>
    </div>
  </div>

  <%= bootstrap_form_for @story, local: true do |f| %>
    <%= f.hidden_field :penname, :value => @story.penname %>

    <%= f.fields_for :novel do |novel_f| %>
      <%= novel_f.hidden_field :title, :value => @story.novel.title %>
    <% end %>

    <%= f.hidden_field :subtitle, :value => @story.subtitle %>
    <%= f.hidden_field :penname, :value => @story.penname %>
    <%= f.hidden_field :content, :value => @story.content %>

    <%= f.fields_for :novel do |novel_f| %>
      <%= novel_f.hidden_field :genre, :value => @story.novel.genre %>
      <%= novel_f.hidden_field :summary, :value => @story.novel.summary %>
      <%= novel_f.hidden_field :series, :value => @story.novel.series %>
    <% end %>

    <%= f.hidden_field :comment, :value => @story.comment %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="text-right">
      <%= f.submit '戻る', name: 'back', class: "btn btn-secondary btn-lg rounded-pill pull-right" %>
      <%= f.submit '登録する', class: "btn btn-info btn-lg rounded-pill pull-right"%>
    </div>

  <% end %>
</div>