<h1>第1話を書く_プレビュー</h1>


  <%= form_with model: @story, class: 'form' do |f| %>
    <%= f.hidden_field :penname, value: f.object.email %>

    <%= f.fields_for :novel do |novel_f| %>
      <%= novel_f.hidden_field :title, value: novel_f.object.title %>
    <% end %>

    <%= f.hidden_field :subtitle, value: f.object.subtitle %>
    <%= f.hidden_field :content, value: f.object.content %>

    <%= f.fields_for :novel do |novel_f| %>

      <%= novel_f.hidden_field :genre, value: novel_f.object.genre %>
      <%= novel_f.hidden_field :summary, value: novel_f.object.summary %>
    <% end %>

      <%= f.hidden_field :comment, value: f.object.comment %>

        <div class="text-right">
            <%= link_to 'キャンセル', :back, data: { confirm: "書いた内容は破棄されますが、よろしいですか？" }, class: "btn btn-info btn-lg rounded-pill pull-right" %>
            <%= f.submit "保存する", class: "btn btn-info btn-lg rounded-pill pull-right"%>
        </div>
  <% end %>