<div class="container">
	<% if @story.parent_id.present? %>
		<p>前のお話：
		<%= link_to @stories[@story.parent_id-1].subtitle, story_path(@stories[@story.parent_id-1]) %>
	<% end %>
	</p>

	<%= link_to 'お話一覧に戻る', novel_path(@story.novel_id) %>
	<h1 class="text-center"><%= @story.subtitle %></h1>
		<div class="text mx-auto" >
			<p class="text-light"><%= simple_format(@story.content) %></p>
		</div>
	<%= @story.comment %>

	<% if @novel.series > @story.tree_level + 1 %>
		<p>次のお話：
		<% @stories.each do |str| %>
			<% if str.parent_id == @story.id %>
					<%= link_to str.subtitle, story_path(str) %><br>
			<% end %>
		<% end %>
		</p>
		<p>このお話は残り<%= (@novel.series - 1) - @story.tree_level %>話で完結予定です。
		<%= link_to '続きから書く', next_new_story_path(@story.id), :target=>["_blank"], class: "btn btn-info btn-lg btn-block" %>
	<% else %>
		<p>このお話は完結済みのため、続きを書くことはできません</p>
	<% end %>
</div>
