<div class="container">
	<h1>トップページ<h1>
	<%= link_to '小説一覧からさがす', novels_path, class: "btn btn-info btn-lg " %>
	<h5>ジャンルや小説タイトルから探す</h5>
	<%= bootstrap_form_with( controller: "root", action: "index", method: :get, local: true, class: "form-inline" ) do |f| %>
		<%= f.select :genre, Novel.genres.keys.map{|k| [I18n.t("enums.novel.genre.#{k}"), k]}, include_blank: true, label: "ジャンル" %>
		<%= f.text_field :title, label: "タイトル" %>
		<%= f.submit 'Search', class: "btn btn-info" %>
	<% end %>
	<% if params[:title].present? or params[:genre].present? %>
		<p>検索結果</p>
		<p>
		タイトルキーワード：<%=params[:title]%>
		ジャンル：<%=params[:genre]%>
		</p>
		<div class="row">
			<% @novels.each do |novel| %>
				<div class="col-lg-6 col-mb-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><%= link_to novel.title, novel_path(novel), class: "text-info" %></h5>
							<p class="card-subtitle text-muted">
								<%= novel.created_at.strftime('%Y/%m/%d')%>&nbsp;&nbsp;
								<%= t("enums.novel.genre."+"#{novel.genre}") %>&nbsp;&nbsp;
								全<%= novel.series%>話で完結
							</p>
							<p class="card-text mb-2"><%= novel.summary.truncate(120)%></p>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<p>検索ワードは入力されていません</p>
	<% end %>

</div>
