<p id="notice"><%= notice %></p>

<h1>Contributors</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Novel</th>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.post_id %></td>
        <td><%= contributor.novel_id %></td>
        <td><%= contributor.name %></td>
        <td><%= contributor.user_id %></td>
        <td><%= link_to 'Show', contributor %></td>
        <td><%= link_to 'Edit', edit_contributor_path(contributor) %></td>
        <td><%= link_to 'Destroy', contributor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contributor', new_contributor_path %>
