<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <%= link_to root_path, 'class': "my-0 mr-md-auto font-weight-normal" do %>
        Natto-Maki
      <% end %>
      <nav class="my-2 my-md-0 mr-md-3">
      </nav>
      <% if user_signed_in? %>
        <%= current_user.name %>さん
        <%= link_to mypage_path, 'class': "btn btn-outline-primary" do %>
          Mypage
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, 'class': 'btn btn-outline-primary' do %>
          Logout
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, 'class': "btn btn-outline-primary" do %>
          Login
        <% end %>
        <%= link_to new_user_registration_path, 'class': "btn btn-outline-primary" do %>
          Signup
        <% end %>        
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
  </body>
</html>
