<div class="container">
  <div class="mx-auto" style="width: 500px;">
    <h1 class="h3 mb-3 font-weight-bold text-center">プロフィール変更</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <em><%= @minimum_password_length %>文字以上で入力してください</em>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>

      <div class="row my-3">
        <div class="col text-center">
          <%= f.submit "更新する", class: "btn btn-info btn-lg rounded-pill"%>
        </div>
      </div>
    <% end %>

    <div class="row mt-5">
      <div class="col text-center">
        <h1 class="h4 mb-3">アカウントを削除する</h1>
      </div>
    </div>

    <div class="col text-center">
      <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-secondary btn-lg rounded-pill"%></p>
    </div>

  </div>
</div>
